<%= render 'layouts/header' %>
<div class="container">
  <br>
 <% @posts.each do |post| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail padding-0 border-radius-0" style="height:420px;">
            <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin-top:10px; margin-left:10px; text-transform:uppercase; letter-spacing: 2px;">
              <%= post.sub_category.name %>
            </span>
            <%= image_tag post.featured_image.url(:square), :class => "img-responsive" %>
            <div class="caption">
              <h5><%= link_to post.url_slug, post_path(post), :style => 'text-transform:none;' %></h5>
              <h6>by <%= post.user.name %></h6>
            </div>
          </div>
        </div>
        <% end %>
</div>
</div>


