<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Sifted", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><a href="http://www.friends.halalfoodhunt.com">Get FRIENDS Card</a></li>
       <% SubCategory.all.each do |sub_category| %>
          <li class="hidden-md hidden-lg"><%= link_to sub_category.name, pages_index_path(sub_category: sub_category.name) %></li>
       <% end %>
       <% if user_signed_in? %>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_user.name %></strong>!<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><h6><center><%= link_to 'Edit profile', edit_user_registration_path %></center></h6></li>
          <li><h6><center><%= link_to "Logout", destroy_user_session_path, method: :delete  %></center></h6></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to 'User Login',  new_user_session_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-default hidden-xs hidden-sm">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <% SubCategory.all.each do |sub_category| %>
          <li><%= link_to sub_category.name, pages_index_path(sub_category: sub_category.name) %></li>
       <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container">
  <br>
 <% @posts.each do |post| %>
<% if post.featured_1 == true %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail padding-0 border-radius-0" style="height:420px;">
            <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin-top:10px; margin-left:10px; text-transform:uppercase; letter-spacing: 2px;">
              <%= post.sub_category.name %>
            </span>
            <%= image_tag post.featured_image.url(:square), :class => "img-responsive" %>
            <div class="caption">
              <h5><%= link_to post.title, post_path(post), :style => 'text-transform:none;' %></h5>
              <p>by <i><%= post.user.name %></i></p>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
</div>
</div>


