<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Sifted", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><a href="http://www.friends.halalfoodhunt.com">Get FRIENDS Card</a></li>
       <% SubCategory.all.each do |sub_category| %>
       <li class="hidden-md hidden-lg"><%= link_to sub_category.name, pages_index_path(sub_category: sub_category.name) %></li>
       <% end %>
       <% if current_user.try(:admin?) %>
       <li><h6><%= link_to 'Admin Dashboard', control_panel_path %></h6></li>
       <li><h6><center><%= link_to 'Add New Post', new_post_path %></center></h6></li>
       <li><h6><center><%= link_to "Logout", destroy_user_session_path, method: :delete  %></center></h6></li>
       <% elsif user_signed_in? %>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_user.name %></strong>!<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><h6><center><%= link_to 'Edit profile', edit_user_registration_path %></center></h6></li>
          <li><h6><center><%= link_to 'Add New Post', new_post_path %></center></h6></li>
          <li><h6><center><%= link_to "Logout", destroy_user_session_path, method: :delete  %></center></h6></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to 'User Login',  new_user_session_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-default hidden-xs hidden-sm">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <% SubCategory.all.each do |sub_category| %>
       <li class=""><%= link_to sub_category.name, pages_index_path(sub_category: sub_category.name) %></li>
       <% end %>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>